*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color:rgba(217, 217, 217, 1)
}

@font-face {
    font-family: fuente1;
    src: url("../assets/fonts/NotoSans.ttf");
}
@font-face {
    font-family: fuente2;
    src: url("../assets/fonts/MerriweatherSans.ttf");
}

/* HEADER */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 12.5rem;
}
.lupa img{
    width: 6rem;
}
nav ul{
    display: inline-flex;
    padding: .625rem;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    font-family: fuente1;
    color: rgba(24, 45, 152, 1);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.25rem;
}

/* TITULO */

.principal{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.foto_principal img{
    width: 140%;
    height: 34rem;
}
.titulo{
    background-color: rgba(24, 45, 152, 1);
    border-radius:250px 0px 0px 250px;
    width: 70%;
    height: 34rem;
}
.principal h1{
    font-family: fuente2;
    font-size: 4rem;
    color: rgba(248, 117, 22, 1);
    text-align: center;
    padding-top: 10%;
}
.principal h2{
    font-family: fuente2;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding-top: 8%;
}
/* SERVICIOS 1*/

.servicios1{
    display: grid;
    grid-template-columns:repeat(7, 16rem);
    grid-template-rows: repeat(7, 8rem);
}
.ticket{
    background-image: url("../assets/img/ticket.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    text-shadow: 0.4rem 0.25rem 0.3rem black;
    font-size: 1.8rem;
    padding-top: 20%;
    color: white;
    grid-column: 2/4;
    grid-row: 2/4;
}
.movil{
    background-image: url("../assets/img/outlook.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    text-shadow: 0.4rem 0.25rem 0.3rem black;
    font-size: 1.8rem;
    padding-top: 20%;
    color: white;
    grid-column: 5/7;
    grid-row: 2/4;
}

.carpetas{
    background-image: url("../assets/img/carpetas.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    text-shadow: 0.4rem 0.25rem 0.3rem black;
    font-size: 1.8rem;
    padding-top: 20%;
    color: white;
    grid-column: 2/4;
    grid-row: 5/7;
}

.vpn{
    background-image: url("../assets/img/vpn1.jpg");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    text-shadow: 0.4rem 0.25rem 0.3rem black;
    font-size: 1.8rem;
    padding-top: 20%;
    color: white;
    grid-column: 5/7;
    grid-row: 5/7;
}

/* SECCION MEDIA */

.seccion{
    width: 100%;
    height: 18.75rem;
    background-color: rgba(24, 45, 152, 1);
}
.seccion p{
    padding: 2%;
    color: white;
    font-family: fuente2;
    font-size: 3rem;
    text-align: center;
}

/* SERVICIOS 2 */

.servicios2{
    padding-top: 5%;
    display: grid;
    grid-template-columns:repeat(7, 15rem);
    grid-template-rows: repeat(9, 6rem);
}

.servicios2 button{
    background-color:#da962f;
    color:#182c97;
    font-family: fuente2;
    text-align:center;
    font-size:2rem;
    border-radius:40px;
}
.archivar{
    grid-column: 2/4;
    grid-row: 1/3;
}
.reenvio{
    grid-column: 5/7;
    grid-row: 1/3;
}
.firma{
    grid-column: 2/4;
    grid-row: 4/6;
}
.teams{
    grid-column: 5/7;
    grid-row: 4/6;
}
.eivg{
    grid-column: 2/4;
    grid-row: 7/9;
}
.clave{
    grid-column: 5/7;
    grid-row: 7/9;
}

/* PIE DE PAGINA */

footer{
    width: 100%;
    height: 18.75rem;
    background-color: rgba(24, 45, 152, 1);
}
footer p{
    padding-top: 2%;
    color: white;
    font-family: fuente2;
    font-size: 3rem;
    text-align: center;
}


/***** UNIDADES ******/

.unidades1{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    gap: 2rem;
    grid-template-columns:repeat(7, 16rem);
    grid-template-rows: repeat(9, 8rem);
}
.rrhh{
    background-image: url("../assets/img/rrhh.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    font-size: 3rem;
    color: rgba(24, 45, 152, 1);
    padding-top: 60%;
    grid-column: 2/4;
    grid-row: 1/3;
}
.finanzas{
    background-image: url("../assets/img/finanzas.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    font-size: 2.57rem;
    color: rgba(24, 45, 152, 1);
    padding-top: 60%;
    grid-column: 5/7;
    grid-row: 1/3;
}
.uravit{
    background-image: url("../assets/img/uravit.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    font-size: 2.4rem;
    color: rgba(24, 45, 152, 1);
    padding-top: 60%;
    grid-column: 2/4;
    grid-row: 4/6;
}
.custodia{
    background-image: url("../assets/img/custodia.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    font-size: 3rem;
    color: rgba(24, 45, 152, 1);
    padding-top: 60%;
    grid-column: 5/7;
    grid-row: 4/6;
}
.comunicaciones{
    background-image: url("../assets/img/comunicaciones.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    font-size: 3rem;
    color: rgba(24, 45, 152, 1);
    padding-top: 60%;
    grid-column: 2/4;
    grid-row: 7/9;
}
.informatica{
    background-image: url("../assets/img/informatica.png");
    background-size: cover;
    border-radius:5%;
    font-family: fuente2;
    font-size: 3rem;
    color: rgba(24, 45, 152, 1);
    padding-top: 60%;
    grid-column: 5/7;
    grid-row: 7/9;
}

/***** INVENTARIO ******/

.ingreso{
    width: 100%;
    margin: 8%;
    display: grid;
    grid-template-columns:repeat(5, 15rem);
    grid-template-rows: repeat(5, 6rem);
}
.nuevo{
    background-image: url("../assets/img/nuevo.PNG");
    background-size: cover;
    font-family: fuente2;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-left: 40%;
    grid-column: 1/3;
    grid-row: 1/3;
}
.baja{
    background-image: url("../assets/img/baja.PNG");
    background-size: cover;
    font-family: fuente2;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-left: 40%;
    grid-column: 4/6;
    grid-row: 1/3;
}
.asignados{
    background-image: url("../assets/img/asignados.PNG");
    background-size: cover;
    font-family: fuente2;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-left: 40%;
    grid-column: 1/3;
    grid-row: 4/6;
}
.exportar{
    background-image: url("../assets/img/exportar.PNG");
    background-size: cover;
    font-family: fuente2;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-left: 40%;
    grid-column: 4/6;
    grid-row: 4/6;
}

/***** INVENTARIO ******/

.documentos{
    padding-top: 5%;
    display: grid;
    grid-template-columns:repeat(7, 15rem);
    grid-template-rows: repeat(9, 6rem);
}
.documentos button{
    color:white;
    font-family: fuente2;
    text-align:center;
    font-size:2rem;
}
.personas{
    background-color: rgba(24, 45, 152, 1);
    grid-column: 2/4;
    grid-row: 1/3;
}
.intranet{
    background-color:#da962f;
    grid-column: 2/4;
    grid-row: 4/6;
}
.soporte{
    background-color: rgba(24, 45, 152, 1);
    grid-column: 2/4;
    grid-row: 7/9;
}
.leyes{
    background-color:#da962f;
    grid-column: 5/7;
    grid-row: 1/3;
}
.campañas{
    background-color: rgba(24, 45, 152, 1);
    grid-column: 5/7;
    grid-row: 4/6;
}
.seguridad{
    background-color:#da962f;
    grid-column: 5/7;
    grid-row: 7/9;
}



